<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Demo</title>

</head>

<body>
    <div style="text-align: center;">
        <h1>Upload file to IPFS</h1>    
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label>Filename</label>
            <input type="text" name="fileName">
            <br></br>
            <label>Upload file</label>
        
            <input type="file" name="file">
            <br></br>
            <label>Description</label>
            <input type="text" name="description">
            <br></br>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>